In [1]:
# Dependencies

import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler, normalize 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("uas_dataset.csv")

In [3]:
df_train = df[:int(0.8*len(df))]
df_test = df[int(0.8*len(df)):]
#df_test = df_test.drop(['tanaman'],axis=1)

In [4]:
df_train

        tanaman  ketinggian  hujan  temperatur
0         cabai        1211   1318          20
1      stroberi        1231    674          17
2     jambu air         311   1380          27
3      stroberi        1489    614          20
4         bayam        1742   1828          25
...         ...         ...    ...         ...
3995  jambu air         277   1567          28
3996   stroberi        1013    646          17
3997      cabai         974   1110          18
3998   stroberi        1452    700          18
3999      cabai        1179   1944          26

[4000 rows x 4 columns]

In [5]:
df_test

        tanaman  ketinggian  hujan  temperatur
4000   stroberi        1335    639          18
4001  jambu air         403    555          21
4002      cabai         415   1956          29
4003      bayam        1501   1840          29
4004    kentang        2194   3163          14
...         ...         ...    ...         ...
4995      bayam        1786   1751          29
4996      bayam          21   1214          23
4997   stroberi        1463    636          19
4998   stroberi        1484    668          19
4999  jambu air         431   2007          16

[1000 rows x 4 columns]

In [6]:
df_train.describe()

       ketinggian        hujan   temperatur
count  4000.00000  4000.000000  4000.000000
mean    976.27925  1644.733750    20.943250
std     667.28356   867.205318     4.617506
min       5.00000   501.000000    10.000000
25%     385.00000   869.750000    18.000000
50%    1013.00000  1481.500000    20.000000
75%    1363.00000  2305.000000    24.000000
max    2992.00000  3600.000000    30.000000

In [7]:
df_test.describe()

        ketinggian        hujan   temperatur
count  1000.000000  1000.000000  1000.000000
mean    981.063000  1686.885000    21.166000
std     704.349136   854.323911     4.760158
min       5.000000   503.000000    10.000000
25%     395.750000  1010.250000    18.000000
50%     983.500000  1549.000000    21.000000
75%    1374.000000  2353.250000    25.000000
max    2976.000000  3595.000000    30.000000

In [8]:
print("*****In the train set*****")
print(df_train.isna().sum())
print("\n")
print("*****In the test set*****")
print(df_test.isna().sum())

*****In the train set*****
tanaman       0
ketinggian    0
hujan         0
temperatur    0
dtype: int64


*****In the test set*****
tanaman       0
ketinggian    0
hujan         0
temperatur    0
dtype: int64

In [9]:
labelEncoder = LabelEncoder()
labelEncoder.fit(df_train['tanaman'])
df_train['tanaman'] = labelEncoder.transform(df_train['tanaman'])
labelEncoder.fit(df_test['tanaman'])
df_test['tanaman'] = labelEncoder.transform(df_test['tanaman'])

C:\Users\ASUS\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\ASUS\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [28]:
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = kmeans.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1

print(correct/len(X))

0.078

In [30]:
n = 0
while (correct/len(X)) < 0.5:
    n += 1
    kmeans.fit(X)
    
    correct = 0
    for i in range(len(X)):
        predict_me = np.array(X[i].astype(float))
        predict_me = predict_me.reshape(-1, len(predict_me))
        prediction = kmeans.predict(predict_me)
        if prediction[0] == y[i]:
            correct += 1
            
print(correct/len(X))
print(n)

0.518
0

In [16]:
import pickle

In [31]:
pickle.dump(kmeans, open('uas_model_kmeans_52.sav', 'wb'))

In [32]:
model = pickle.load(open('uas_model_kmeans_52.sav', 'rb'))

In [33]:
X = np.array(df_test.drop(['tanaman'], 1).astype(float))
y = np.array(df_test['tanaman'])

In [34]:
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = model.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1

print(correct/len(X))

0.49