In [1]:
# Dependencies

import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("uas_dataset.csv")

In [3]:
df_train = df[:int(0.8*len(df))]
df_test = df[int(0.8*len(df)):]

In [4]:
df_train

        tanaman  ketinggian  hujan  temperatur
0         cabai        1211   1318          20
1      stroberi        1231    674          17
2     jambu air         311   1380          27
3      stroberi        1489    614          20
4         bayam        1742   1828          25
...         ...         ...    ...         ...
3995  jambu air         277   1567          28
3996   stroberi        1013    646          17
3997      cabai         974   1110          18
3998   stroberi        1452    700          18
3999      cabai        1179   1944          26

[4000 rows x 4 columns]

In [5]:
df_test

        tanaman  ketinggian  hujan  temperatur
4000   stroberi        1335    639          18
4001  jambu air         403    555          21
4002      cabai         415   1956          29
4003      bayam        1501   1840          29
4004    kentang        2194   3163          14
...         ...         ...    ...         ...
4995      bayam        1786   1751          29
4996      bayam          21   1214          23
4997   stroberi        1463    636          19
4998   stroberi        1484    668          19
4999  jambu air         431   2007          16

[1000 rows x 4 columns]

In [6]:
labelEncoder = LabelEncoder()
labelEncoder.fit(df_train['tanaman'])
df_train['tanaman'] = labelEncoder.transform(df_train['tanaman'])
labelEncoder.fit(df_test['tanaman'])
df_test['tanaman'] = labelEncoder.transform(df_test['tanaman'])

C:\Users\ASUS\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\ASUS\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [7]:
df_train.head()

   tanaman  ketinggian  hujan  temperatur
0        1        1211   1318          20
1        4        1231    674          17
2        2         311   1380          27
3        4        1489    614          20
4        0        1742   1828          25

In [8]:
df_test.head()

      tanaman  ketinggian  hujan  temperatur
4000        4        1335    639          18
4001        2         403    555          21
4002        1         415   1956          29
4003        0        1501   1840          29
4004        3        2194   3163          14

In [9]:
knn = KNeighborsClassifier(n_neighbors=5)

In [10]:
train_label = list(df_train['tanaman'])

In [11]:
train_feature = list(zip(df_train['ketinggian'], df_train['hujan'], df_train['temperatur']))

In [12]:
knn.fit(train_feature, train_label)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [13]:
knn.predict([[3125, 2900, 17]])

array([3])

In [14]:
X = np.array(df_train.drop(['tanaman'], 1).astype(float))
y = np.array(df_train['tanaman'])

In [15]:
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = knn.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1

print(correct/len(X))

0.8465

In [16]:
X = np.array(df_test.drop(['tanaman'], 1).astype(float))
y = np.array(df_test['tanaman'])

In [17]:
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = knn.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1

print(correct/len(X))

0.775

In [18]:
import pickle

In [19]:
pickle.dump(knn, open('uas_model_knn.sav', 'wb'))